{% extends 'base.html' %}
{% load static %}

{% block title %} 客户信息 {% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 85%;">
    <div class="card">
        <div class="card-header">
            <h2 align="center">乘客信息列表</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">乘客姓名</th>
                        <th scope="col">身份证号</th>
                        <th scope="col">航班号</th>
                        <th scope="col">座号</th>
                        <th scope="col">飞机型号</th>
                        <th scope="col">始发地</th>
                        <th scope="col">到达地</th>
                        <th scope="col">起飞时间</th>
                        <th scope="col">落地时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td rowspan="{{ customer.tickets.count }}" style="vertical-align: middle;">{{ customer.name }}</td>
                        <td rowspan="{{ customer.tickets.count }}" style="vertical-align: middle;">{{ customer.id_number }}</td>
                        {% for ticket in customer.tickets.all %}
                        {% if forloop.first %}
                        <td>{{ ticket.flight.flight_number }}</td>
                        <td>{{ ticket.seat_number }}</td>
                        <td>{{ ticket.flight.plane_number }}</td>
                        <td>{{ ticket.flight.departure }}</td>
                        <td>{{ ticket.flight.arrival }}</td>
                        <td>{{ ticket.flight.depart_time }}</td>
                        <td>{{ ticket.flight.arrive_time }}</td>
                    </tr>
                        {% else %}
                    <tr>
                        <td>{{ ticket.flight.flight_number }}</td>
                        <td>{{ ticket.seat_number }}</td>
                        <td>{{ ticket.flight.plane_number }}</td>
                        <td>{{ ticket.flight.departure }}</td>
                        <td>{{ ticket.flight.arrival }}</td>
                        <td>{{ ticket.flight.depart_time }}</td>
                        <td>{{ ticket.flight.arrive_time }}</td>
                    </tr>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}